body{
	text-align: center;
	background-color: #565656;
}
div{
	display: block;
	overflow: auto;
	padding: 5px;
}
#upload-bar {
	height: 50px;
	padding: 10px;
	position: relative;
}
#image-container {
	min-height: 320px;
	min-width: 100px;
	width: calc(100% - 360px);
	border: 2px dashed black;
	display: inline-block;
	background-color: #282828;
}
#color-picker-container {
	height: 320px;
	width: 320px;
	display: inline-block;
	vertical-align: bottom;
}
.color_sample{
	cursor: pointer;
	display: inline-block;
	margin: 2px;
	padding: 0px;
	border-width: 8px;
	border-style: solid;
	border-radius: 10px;
	width: 28px;
	height: 21px;
	transition-duration: 0.2s;
	background-color: #565656;
	border-color: #565656;
	box-shadow: 0px 0px 0px #282828;
}
.color_sample:hover {
	transform: translateY(-3px);
	box-shadow: 0px 3px 8px #282828;
}
.btn {
	position: relative;
	background-color: #383838;
	color: white;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 25px;
	cursor: pointer;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-color: #7DB9DE;
}
.btn:hover {
	background-color: #3A8FB7;
}
#uploadbtn {
	position: relative;
	left: 5px;
}
#urlinput {
	position: relative;
	left: 15px;
	border-radius: 5px;
	height: 30px;
	padding-left: 5px;
}
#urlbtn {
	position: relative;
	left: 15px;
}