div{
	display: block;
	overflow: auto;
	padding: 5px;
}
#upload-bar {
	height: 50px;
	width: calc(100% - 20px);
	left: 20px;
}
#image-container {
	height: 600px;
	width: 1000px;
	float: left;
}
#color-picker-container {
	height: 320px;
	width: 320px;
	float: left;
}
.color_sample{
	display: inline-block;
	margin: 2px;
	padding: 0px;
	border-width: 8px;
	border-style: solid;
	border-radius: 10px;
	width: 28px;
	height: 21px;
	transition-duration: 0.5s;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	box-shadow: 0px 0px 0px grey;
}
.color_sample:hover {
	transform: translateY(-3px);
	box-shadow: 0px 3px 8px grey;
}
